<div class="masthead">
  <div class="container">
    <div class="site-logo-lg">
      <!--img src="{{!permalink "assets/img/logo.jpg"}}" alt=""-->
      <img src="assets/img/enquirer-logo-white.png" alt="" width="200">
    </div>

    <br>

    <div class="lead">
      <em>{{default @site.lead @site.description}}</em>
    </div>
  </div>
</div>
