<div class="masthead">
  <div class="container">
    <div class="site-logo-lg">
      <img src="assets/img/icon-white-flattened.png" alt="" width="200">
    </div>

    <br>

    <div class="lead">
      <em>{{default @site.lead @site.description}}</em>
    </div>
  </div>
</div>
