/**
 * Page title
 */

.page-title {
  margin: 0;
}

/**
 * Page lead
 */

.page-lead {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

/**
 * Header button
 */

.btn-header {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-header:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
  .btn-header {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-header {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn-header {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}
